@import "tailwindcss";
@import "./fonts.css";
@import "./brand.css";
@import "./animations.css";

body {
  @apply text-accent font-sans text-base antialiased;
  @apply bg-background;
  @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-slate-700 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-slate-800;
}

input,
textarea {
  @apply text-sm;

  &:focus {
    &::placeholder {
      transition: all 0.5s;
      transform: translateX(20px);
      filter: blur(3px);
      opacity: 0;
    }
  }
}

@media (min-width: 1024px) {
  input,
  textarea {
    @apply text-base;
  }
}

label {
  @apply cursor-pointer;
}

button {
  @apply flex cursor-pointer items-center justify-center text-sm;

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

@media (min-width: 1024px) {
  button {
    @apply text-base;
  }
}

a {
  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}
