---
import { ArrowRight } from "lucide-astro";
import PageWrapper from "@src/components/layouts/wrapper.astro";
import LatestPost from "@src/features/blog/components/latest-post.astro";
---

<PageWrapper>
  <main class="mt-20 flex flex-col items-center gap-16 lg:mt-14">
    <header
      class="mx-auto flex max-w-[490px] flex-col items-center gap-12 lg:gap-14"
    >
      <div>
        <h1
          class="-leading-6 text-primary text-center text-6xl font-semibold lg:text-8xl"
        >
          Jon Sykes
        </h1>
        <h2 class="text-primary text-right text-base font-light lg:text-2xl">
          builder/founder
        </h2>
      </div>

      <ul class="text-secondary text-left text-sm text-balance lg:text-2xl">
        <li>What I'm Building.</li>
        <li>Architecture Deep Dives.</li>
        <li>AI Rabbit Holes.</li>
      </ul>

      <div class="flex flex-wrap items-center justify-center gap-4">
        <a href="/blog" class="relative flex">
          <span
            tabindex="0"
            class="absolute h-full w-full rounded-full bg-slate-600 opacity-75"
          ></span>
          <span
            class="border-surface relative flex items-center justify-center gap-2 rounded-full border-2 bg-slate-950 px-5 py-2 transition-colors hover:bg-slate-900/90"
          >
            blog
            <ArrowRight class="h-4 w-4 text-white" />
          </span>
        </a>
        <a href="/projects" class="flex">
          <span
            class="border-surface text-secondary hover:text-primary flex items-center justify-center gap-2 rounded-full border-2 bg-slate-900/30 px-5 py-2 transition-colors hover:bg-slate-900/50"
          >
            projects
            <ArrowRight class="h-4 w-4" />
          </span>
        </a>
      </div>
    </header>
    <div class="flex w-full justify-center py-10">
      <LatestPost />
    </div>
  </main>
</PageWrapper>
